.opc-Divider {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #525252;
  margin: 8px 0;
  font-size: 1.425rem;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
.opc-Divider::before, .opc-Divider::after {
  content: "";
  flex-grow: 1;
  background: #ebebeb;
  height: 2px;
  font-size: 0;
  line-height: 0;
  margin: 0 30px;
}
.opc-Divider a {
  text-decoration: none;
  border-bottom: 0.375rem solid transparent;
  font-weight: 600;
}
.opc-Divider a:hover {
  border-color: #F8BF00;
}

/*# sourceMappingURL=preview.css.map */
